.cart {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #00fff7af;
    transition: 0.1s;
    cursor: pointer;
    position: fixed; /* Фиксированное расположение */
    top: 20px; /* в правом верхнем углу */
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  /* Увеличиваем кнопку при наведении на нее */
  .cart:hover {
    transform: scale(1.1);
  }
  
  /* Стилизуем счетчик товаров */
  .cart__num {
    position: absolute;
    background-color: #d62240;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    top: -5px;
    right: -5px;
  }

  .card__add {
    display: flex; /* Делаем кнопку флекс-контейнером */
    align-items: center; /* Центрируем элементы по вертикали */
    justify-content: center; /* Центрируем элементы по горизонтали */
    padding: 10px; /* Добавляем отступы, если необходимо */
}
  .cart__image{
    width: 50px;
    justify-content: center;
    margin-left: 4px;
  }
  .cart__image_zakupki{
    width: 35px;
    justify-content: center;
    margin-left: 4px;
  }

.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.33); /* Небольшое затемнение на фоне */
    z-index: 1000; /* Поверх всех окон */
    width: 100%;
    height: 100%;
    display: none; /* По умолчанию скрываем окно */
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow-y: auto; /* Позволяет прокручивать содержимое */
}

.popup__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Распределяем элементы внутри равномерно */
    width: 100%;
    max-width: 800px;
    max-height: 90vh; /* Устанавливаем максимальную высоту */
    background-color: #fff;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
    overflow-y: auto; /* Позволяет прокручивать содержимое контейнера */
}

.popup__item {
    border-bottom: 1px solid #ddd;
    padding: 20px;
}

.popup__item:last-of-type {
    border-bottom: none;
}

.popup__title {
    font-size: 20px;
}

/* Стили для вывода товара */
.popup__product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popup__product-wrap {
    display: flex;
    align-items: center;
}

.popup__product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 10px;
}

.popup__product-title {
    max-width: 300px;
    font-weight: 500;
}

.popup__product-price {
    font-size: 18px;
    margin-right: 15px;
}

/* Стили для кнопки удаления товара */
.popup__product-delete {
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    color: #d62240;
}

/* Стили для вывода стоимости товаров */
.popup__cost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.popup__cost-title {
    margin-right: 15px;
    font-size: 20px;
    color: #364364;
    text-align: right;
}

.popup__cost-value {
    font-size: 20px;
}

/* Стили для кнопки закрытия окна */
.popup__close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 20px;
    color: rgba(54, 67, 100, 0.7);
    font-size: 20px;
}

.popup__close:hover {
    color: rgb(54, 67, 100);
}

.popup--open {
    display: flex;
}
.card {
    height: 500px; /* Фиксированная высота для карточек */
    display: flex;
    flex-direction: column;
  }
  
  .card__image {
    height: 200px; /* Фиксированная высота для изображений */
    object-fit: cover; /* Обрезка изображений */
    width: 100%; /* Ширина изображения 100% */
  }
  
  .card-body {
    flex: 1; /* Позволяет телу карточки занимать оставшееся пространство */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Размещает элементы равномерно */
  }
  
  .card__short_description {
    font-size: 16px; /* Размер описания */
    color: #666; /* Цвет описания */
    margin-bottom: 15px; /* Отступ снизу */
    max-height: 60px; /* Максимальная высота для описания */
    overflow: hidden; /* Скрывает переполнение */
    text-overflow: ellipsis; /* Добавляет многоточие */
    display: -webkit-box; /* Для поддержки многоточия */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    -webkit-line-clamp: 2; /* Количество строк, после которых текст будет обрезан */
    white-space: normal; /* Позволяет перенос текста на новую строку */
  }
  
  .card__add {
    width: 40px;
    height: 40px;
  }